.navbar {
    background-color: rgb(44, 42, 42) !important;
    color: white !important;
}

.blog-post .post-footer{
    margin-top: 0;
}
.blog-post .post-body{
    margin-top: 10px;
}

hr{
    margin-top:0 !important;
    margin-bottom:0 !important;
}
.post-meta{
    margin: 0;
}
.post h3{
    margin-bottom: 0;
}

.active {
    color:white !important;
}
.navbar.navbar-light .navbar-nav .nav-item .nav-link   {
    color: white !important;
}
.navbar-light .navbar-brand {
    color: white !important;
}
.blue1{
    color:blue !important;
}
#related {
    list-style-type:square;
}
.fa-navicon {
    color: white !important;
}

main.posts-listing{
   padding-top: 0px !important ;
}

main.posts-listing .post {
   margin-bottom: 0px;

}
.btn-secondary {
    background-color: black !important;
}
.header {
    margin-bottom:60px; 
}
.comm {
    display: none;
}

.comment-error {
    display: none;
}
.blog-post .post-comments .comment-body{
    padding-top:0px;
    padding-bottom: 2px;
    margin-bottom: 1px;
}

#errorplace {
    display: none;
}
#search-status{
    display: none;
}
